<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Résumé</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/img/profiles.jpg" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css/styles.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
      id="sideNav"
    >
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">David Oluwatobi</span>
        <span class="d-none d-lg-block"
          ><img
            class="img-fluid img-profile rounded-circle mx-auto mb-2"
            src="/static/assets/img/profiles.jpg"
            alt="David"
        /></span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience"
              >Experience</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Programming Languages and Technologies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests"
              >Interests</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact"
              >Contact Me</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
      
      <!-- About-->
      <section class="resume-section" id="about">
        <div class="resume-section-content">
          <h1 class="mb-0">
            David
            <span class="text-primary">Oluwatobi</span>
          </h1>
          <div class="mod-subheading mb-5">
            Ado-Ekiti, Nigeria · +2348106282795 ·
            <a class="mod-mb-0" href="mailto:davidoluwatobi41@gmail.com"
              >davidoluwatobi41@gmail.com</a>
          </div>
          <p class="mod-lead mb-5">
            Software Engineer
          </p>
          <div class="social-icons">
            <a
              class="social-icon"
              href="https://www.linkedin.com/in/davidoluwatobi/"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a
              class="social-icon"
              href="https://www.github.com/DavidHODs"
              target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a
              class="social-icon"
              href="https://www.twitter.com/iEphods"
              target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </div>
        </div>
      </section>
      <hr class="m-0" />

      <!-- Education -->
      <section class="resume-section" id="education">
        <div class="resume-section-content">
          <h2 class="mb-5">Education</h2>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mod-mb-0">Computer Science (Part Time, Bsc)</h3>
              <div class="subheading mb-3">
                <img
                  src="/static/assets/img/ABUAD.jpg"
                  alt="abuad"
                  class="img-fluid img-profile rounded-circle mx-auto mb-2"
                  width="70"
                  height="70"
                /><a class="mod-container" href="https://www.abuad.edu.ng/part-time-studies/" target="_blank"
                  >ABUAD, Ekiti</a
                >
              </div>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">Oct 2022 - Sept, 2025</span>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mod-mb-0">DevOps & Cloud Engineering (Diploma)</h3>
              <div class="subheading mb-3">
                <img
                  src="/static/assets/img/altschool.jpg"
                  alt="altschool"
                  class="img-fluid img-profile rounded-circle mx-auto mb-2"
                  width="60"
                  height="60"
                /><a class="mod-container" href="https://www.altschoolafrica.com/" target="_blank">AltSchool, Africa</a>
              </div>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">Mar 2022 - May, 2023</span>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mod-mb-0">Science Laboratory Technology (ND & HND [chemistry/biochemistry])</h3>
              <div class="subheading mb-3">
                <img
                  src="/static/assets/img/fpo.png"
                  alt="fpo"
                  class="img-fluid img-profile rounded-circle mx-auto mb-2"
                  width="70"
                  height="70"
                /><a class="mod-container" href="https://www.fpo.edu.ng/" target="_blank"
                  >FPO, Kwara</a
                >
              </div>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">April 2012 - JULY 2018</span>
            </div>
          </div>
        </div>
      </section>
      <hr class="m-0" />
      <!-- Experience-->
      <section class="resume-section" id="experience">
        <div class="resume-section-content">
          <h2 class="mb-5">Experience</h2>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mod-mb-0">Software Engineer Intern</h3>
              <div class="subheading mb-3">
                <img
                  src="/static/assets/img/api.svg"
                  alt="apitoolkit"
                  class="img-fluid img-profile rounded-circle mx-auto mb-2"
                  width="60"
                  height="60"
                /><a class="mod-mb-0" href="https://apitoolkit.io/" target="_blank">ApiToolKit</a>
                <div class="mod-container">
                  Worked on the API toolkit golang client; an sdk used to integrate golang web services with APIToolkit. It monitors incoming traffic, gathers the requests and sends the request to the apitoolkit servers. Did minor contributions to the building of APIToolkit server; a platform built with Haskell.
                </div>
              </div>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">Nov 2021 - Mar 2022</span>
            </div>
          </div>
    
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mod-mb-0">Software Engineer Intern</h3>
              <div class="subheading mb-3">
                <img
                  src="/static/assets/img/hng.png"
                  alt="HNG"
                  class="img-fluid img-profile rounded-circle mx-auto mb-2"
                  width="60"
                  height="60"
                /><a class="mod-container" href="https://hng.tech" target="_blank">HNG, Lagos</a>
                <div class="mod-container">
                  Worked on Zuri Chat Core (ZC_Core); an open source API that serves as the backend and backbone of Zuri Chat (an open source slack clone developed during the HNG8 internship program)
                </div>
              </div>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">August 2021 - Dec 2021</span>
            </div>
          </div>

          <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
            <div class="flex-grow-1">
              <h3 class="mod-mb-0">Data Science Rookie</h3>
              <div class="subheading mb-3">
                <img
                  src="/static/assets/img/iqube.png"
                  alt="iQube"
                  class="img-fluid img-profile rounded-circle mx-auto mb-2"
                  width="70"
                  height="70"
                /><a class="mod-container" href="https://www.iqubesolutions.com.ng" target="_blank"
                  >iQube Labs, Lagos</a
                >
                <div class="mod-container">
                  Worked with twitter api to carry out sentiment analysis of #EndSars tweets. Built computer vision models to identify faces.
                </div>
              </div>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">March 2021 - May 2021</span>
            </div>
          </div>

          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mod-mb-0">Software Engineer Trainee/Intern</h3>
              <div class="subheading mb-3">
                <img
                  src="/static/assets/img/zuri.png"
                  alt="Zuri"
                  class="img-fluid img-profile rounded-circle mx-auto mb-2"
                  width="70"
                  height="70"
                /><a class="mod-container" href="https://training.zuri.team" target="_blank"
                  >ZuriNG, Lagos</a
                >
                <div class="mod-container">
                  Worked on Hoardr; an application where people who want to manage their hoarding problem can put up their items for sale at a very cheap giveaway price
                </div>
              </div>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">April 2021 - JULY 2021</span>
            </div>
          </div>
        </div>
      </section>
      <hr class="m-0" />
      <!-- Projects -->
      <section class="resume-section" id="projects">
        <div class="resume-section-content">
          <h2 class="mb-5">Projects</h2>
          <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">
              <a
                href="https://github.com/DavidHODs/LaraDock"
                target="_blank"
                rel="noopener noreferrer"
                >LaraDock</a>
            </h3>
            <div>
             This project containerizes a laravel application using docker. A deployment architecture is also set up using docker and terraform. 
            </div>
          </div>
        </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                <a
                  href="https://github.com/DavidHODs/Terra"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Terra</a>
              </h3>
              <div>
               This project sets up an architecture comprising of 3 ec2 instances (displaying a simple timezone info) hooked up to a load balancer using terraform and ansible.
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                <a
                  href="https://github.com/DavidHODs/Laravel-Host"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Laravel-Host</a>
              </h3>
              <div>
                This project encompasses entire deployment steps including installation of packages and dependencies, configuring of apache webserver etc using basch scripts and ansible.
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                <a
                  href="https://github.com/DavidHODs/apitoolkit-go-client"
                  target="_blank"
                  rel="noopener noreferrer"
                  >APIToolkit Client</a>
              </h3>
              <div>
                The API Toolkit golang client is an sdk used to integrate golang web services with APIToolkit. It monitors incoming traffic, gathers the requests and sends the request to the apitoolkit servers
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                <a
                  href="https://github.com/DavidHODs/zc_core"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Zuri Core</a>
              </h3>
              <div>
                The Zuri Chat Core (ZC_Core) is an open source API that serves as the backend and backbone of Zuri Chat - an open source slack clone developed during the HNG8 internship program
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                <a
                  href="https://github.com/DavidHODs/Tech-HUB"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Tech Hub</a>
              </h3>
              <div>
                Tech-HUB is a social media web app (no loner live as a result of recent heroku update) where devs can follow those who interest them as well as stay up to date with the
                latest tech news.
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                <a
                  href="https://github.com/DavidHODs/Food-Palace"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Food Palace</a>
              </h3>
              <div>
                Food palace is a portfolio project. It depicts an e-payment process
                typical of most online shops and restaurants. The app has a backdoor
                accessible to only the admin of the site via the dashboard link.
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                <a
                  href="https://github.com/DavidHODs/Django-CRM"
                  target="_blank"
                  rel="noopener noreferrer"
                  >CRM</a>
              </h3>
              <div>
                A customer relationship management demo platform built with django.
                Organizations can sign up, create agents and assign leads or
                customers to these agents for micro management.
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                <a
                  href="http://github.com/DavidHODs/Sign-Language-to-Speech"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Sign Language to Speech</a>
              </h3>
              <div>
                An end-to-end working prototype that uses Artificial intelligence to
                detect sign language meanings in images/videos and generate
                equivalent, realistic voice of words communicated by the sign
                language.
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                <a
                  href="http://github.com/Emekaborisama/textgen"
                  target="_blank"
                  rel="noopener noreferrer"
                  >TextGen</a>
              </h3>
              <div>
                Text gen is a python library that allows the building of custom
                text generation models with ease. I Collaborated with <a href="http://github.com/Emekaborisama"
                  target="_blank"
                  rel="noopener noreferrer">Emeka
                Boris</a>, the major brain behind this project.
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                <a
                  href="https://github.com/DavidHODs/iQube-Internship/tree/main/OpenCV/Codes"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Face Recognition and Face Detection</a>
              </h3>
              <div>
                These are end to end projects for detecting faces and recognizing
                faces in pictures based on a pre-trained model.
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
                <a
                  href="https://drive.google.com/drive/folders/1U_MxOY1pagVq_wx_kmRxnEeZrVK7q-Yv"
                  target="_blank"
                  rel="noopener noreferrer"
                  >EndSARS Sentiment Analysis</a>
              </h3>
              <div>
                This project analyzes changes in the sentiments associated
                with the #EndSARS movement right from its origin in 2017.
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="flex-grow-1">
              <h3 class="mb-0">
              <a href="https://github.com/DavidHODs/Hoardr-BE-PJT-95" target="_blank"
              rel="noopener noreferrer">BE-Hoardr</a>
              </h3>
              <div>
                This is the brain box of a soon to be published mobile app, where
                users can conveniently dispense off materials accumulated over time
                either as a gift or by selling them.
              </div>
            </div>
          </div>
          
      </section>
      <hr class="m-0" />
      <!-- Skills-->
      <section class="resume-section" id="skills">
        <div class="resume-section-content">
          <h2 class="mod-mb-5">Programming Languages & Technologies</h2>
          <ul class="list-inline dev-icons">
            <li><h4>Golang Python Haskell Linux Bash</h4></li>
            <li><h4>Docker Terraform Ansible Kubernetes Git Jenkins</h4></li>
            <li><h4>PostgreSQL MySQL MongoDB</h4></li>
            <li><h4>AWS</h4></li>
          </ul>
        </div>

      </section>
      <hr class="m-0" />
      <!-- Interests-->
      <section class="resume-section" id="interests">
        <div class="resume-section-content">
          <h2 class="mb-5">Interests</h2>
          <p>
            My interests and passion cut across all things tech. I'll like to work in an environment where I won't be boxed into a role definition such as backend or frontend developer. I see them all as technologies that can be learnt to solve human problems. I'm so passionate about this idealogy that I had to go bacck to school on a part time basis to learn every fundamental requirement of what computer science is all about. 
          </p>
        </div>
      </section>
      <hr class="m-0" />

      <section class="resume-section" id="contact">
        <div class="resume-section-content">
          <h2 class="mb-5">Contact Me</h2>
          <p>
            I'm on the look out for full time roles, internships, contract appointments and gigs. If you have a spot you feel I'm a perfect fit for, you can send me a message by clicking on the message icon.
          </p>

          <p>
            You can drop tips and career advices on perceieved skill gaps. You can drop some words of encouragement as well.

            Jenkins
          </p>
          <form action="/insertrecord" method="POST">
            <div>
              <label for="name">Name</label>
              <input name="name" id="name" required="Yes"/>
            </div>
            <div>
              <label for="message">Message</label>
              <input name="message" id="message"  required="Yes"/>
            </div>
            <div>
              <button>Comment</button>
            </div>
          </form>

          <br>
          <br>
          <div>
            {{ range . }}
            <p>"{{ .Comment }}" - {{ .Name }}</p>
            {{ end }}
            <p>
          </div>

          </p>
          <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
          <script>
            window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
            /* customize formbutton below*/     
            formbutton("create", {
              action: "https://formspree.io/f/xwkjbrov",
              title: "I'm available for a quick chat",
              fields: [
                { 
                  type: "email", 
                  label: "Email:", 
                  name: "email",
                  required: true,
                  placeholder: "your@email.com"
                },
                {
                  type: "textarea",
                  label: "Message:",
                  name: "message",
                  placeholder: "What's on your mind?",
                },
                { type: "submit" }      
              ],
              styles: {
                title: {
                  backgroundColor: "gray"
                },
                button: {
                  backgroundColor: "gray"
                }
              }
            });
          </script>
        </div>
      </section>
      <hr class="m-0" />
      
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/js/scripts.js"></script>
  </body>
</html>

